<p>Brandon - the Cat</p> <br>
<p1>    Brandon was only about five weeks old when he was found in the forest in Mazuria lake district.
    He was extremelly calm and trusting.
    We took him inside our summer house and we gave him some water.

</p1>

