html, body {
    margin: 0px;
    padding: 0px;

}
.topMenu {
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 0;
    position: fixed;
    width: 100%;
}
.topMenu a {
    padding: 20px 20px;
    font-family: "American Typewriter";
    border-radius: 10px;
    text-decoration: none;
    color: saddlebrown;
    font-size: 20px;
}
.topMenu a:hover {
    background-color: thistle;
    -webkit-box-shadow: -2px 2px 33px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: -2px 2px 33px -3px rgba(0,0,0,0.72);
    box-shadow: -2px 2px 33px -3px rgba(0,0,0,0.72);
}
.sidebar-icon {
    float: right;
    font-size: 20px;
    color: #C7AF78;
    background: beige;
    margin-right: 25px;
    cursor: pointer;
}
.sidebar-icon:hover {
    color: saddlebrown;
}
#menuToggle {
    display: none;
}
#menuToggle:checked ~ .sidenav {
    position: absolute;
    right: 0;
}
section {
    min-height: 100%;
    height: auto;
    position: relative;
}
#content {
    width: 100%;
    height: inherit;
    top: 62.78px;
    bottom: 72.22px;
    position: fixed;
    -webkit-box-shadow: inset -2px 2px 19px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: inset -2px 2px 19px -3px rgba(0,0,0,0.72);
    box-shadow: inset -2px 2px 19px -3px rgba(0,0,0,0.72);
}
.sidenav {
    height: inherit;
    float: right;
    top: 62.78px;
    background-color: #F5FAFA;
    bottom: 72.22px;
    width: 150px;
    right: 150px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.push {
    height: 0px;
    clear: both;
}
p {
    font-family: "American Typewriter";
    text-align: center;
    padding: 20px;
    font-size: 26px;
}
p1 {
    text-align: center;
}
footer {
    font-family: "American Typewriter";
    background-color: beige;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}